<app-navbar></app-navbar>

<body>

  <div class=" px-4 py-5">
    <!-- Titulo principal -->


    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Institutos Autónomos de Turmero Aragua</h1>
          <p class="col-lg-10 fs-4">Acceso Web a Institutos Autónomos de la Alcaldía Santigo Mariño</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5 text-center">
          <img src="../../../assets/logoOscuro.png" width="200" height="200" alt="">
        </div>
      </div>
    </div>


    <div class="border-top"></div>

    <!-- Documentación -->
    <!-- <div class="row row-cols-1 row-cols-md-2 row-cols-1 g-4">
      <div class="col ">
        <div class="card h-100">
          <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sistema Administrativo PMMSM</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, consectetur delectus
              molestiae, voluptatibus earum ad quod eveniet ullam quasi, unde doloremque nemo repudiandae dolorem! Illo
              mollitia ratione fugiat magnam aspernatur!.</p>
            <a href="http://96.47.237.220:8080" target="_blank" class="card-link">Ingresar</a>
            <a href="#" class="card-link">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sistema Personal PMMSM</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, ab cum cupiditate
              dolorem reprehenderit nulla nesciunt accusamus tempora nobis repellat qui modi sunt laborum iusto
              perspiciatis ullam aliquid quae aperiam.</p>
            <a href="http://96.47.237.220:8082" class="card-link">Ingresar</a>
            <a href="#" class="card-link">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sistema Administrativo PCMSM</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam porro a expedita, iure
              aliquid repudiandae quaerat! Fugit laudantium modi, corrupti eligendi, expedita odio in voluptate nemo
              accusantium placeat voluptatibus. Placeat..</p>
            <a href="http://96.47.237.220:8081" class="card-link">Ingresar</a>
            <a href="#" class="card-link">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sistema Personal PCMSM</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae
              aspernatur tenetur repellendus, distinctio est illum quasi neque. Eveniet ratione laudantium ullam magnam
              vitae. Qui fugit laborum aspernatur architecto recusandae!</p>
            <a href="http://96.47.237.220:8083" class="card-link">Ingresar</a>
            <a href="#" class="card-link">Descargar</a>

          </div>
        </div>
      </div>
    </div> -->

    <div class="container px-1 py-5" id="custom-cards">

      <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        <div class="col">

          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg img_system-sadmim">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-4 mt-5 mb-4  lh-1 fw-bold fs-5">Sistema Administrativo Policia Santiago Mariño</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <a> <span class="material-icons-outlined icon-boton"> download
                    </span></a>
                </li>
                <li class="d-flex align-items-center me-3">
                  <a href="http://96.47.237.220:8080" target="_blank" class="card-link btn btn-primary">Ingresar</a>

                </li>
                <!-- <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
              </li> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg img_system-sadmim">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-4 mt-5 mb-4  lh-1 fw-bold fs-5">Sistema Administrativo Protección Civil Santiago Mariño</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <a> <span class="material-icons-outlined icon-boton"> download
                    </span></a>
                </li>
                <!-- <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Pakistan</small>
              </li> -->
                <li class="d-flex align-items-center">
                  <a href="http://96.47.237.220:8081" target="_blank" class="card-link btn btn-primary">Ingresar</a>

                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg img_system-sadmim">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-4 mt-5 mb-4  lh-1 fw-bold fs-5">Sistema Personal Policia Santiago Mariño</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <a> <span class="material-icons-outlined icon-boton"> download
                    </span></a>
                </li>
                <!-- <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>California</small>
              </li> -->
                <li class="d-flex align-items-center">
                  <a href="http://96.47.237.220:8082" target="_blank" class="card-link btn btn-primary">Ingresar</a>

                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg img_system-sadmim">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-4 mt-5 mb-4  lh-1 fw-bold fs-5">Sistema Personal Protección Civil Santiago Mariño</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <a> <span class="material-icons-outlined icon-boton"> download
                    </span></a>
                </li>
                <!-- <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>California</small>
              </li> -->
                <li class="d-flex align-items-center">
                  <a href="http://96.47.237.220:8083" target="_blank" class="card-link btn btn-primary">Ingresar</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- Capacitaciones -->

  <div class=" my-5">
    <div class="p-5 text-center bg-body-tertiary">
      <img src="../../../assets/capacitacion.png" class="bi mt-4 mb-3" width="100" height="100" alt="">
      <h1 class="text-body-emphasis fw-bold"> Área de Capatación y Adiestramiento</h1>
      <!-- <p class="col-lg-8 mx-auto fs-5 text-muted">
        Área de capatación y Adiestramiento de Corposervis
      </p> -->
      <div class="d-inline-flex gap-2 mb-5">
        <a href="#" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
          type="button">Ingresar</a>
      </div>
      
    </div>
  </div>
</body>