<app-navbar></app-navbar>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../../assets/proteccion-civil-marino.png" class="d-block mx-lg-auto img-fluid logo-cliente"
                alt="Bootstrap Themes" loading="lazy">
        </div>

        <!-- Sección Cliente -->
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Protección Civil Mariño</h1>
            <!-- <p class="lead fw-semibold">Entorno de sistemas de Policia Municipio Santigo Mariño</p> -->
        </div>

        <div class="border-top"></div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-1 g-4">
            <div class="col ">
                <div class="card h-100">
                    <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Sistema Administrativo</h5>
                        <p class="card-text">Formulación, Ejecución, Compras y Suministros, Contabilidad Físcal,
                            Tesorería y Bancos, Bienes muebles e inmuebles</p>
                        <a href="http://96.47.237.220:8081" target="_blank" class="card-link btn btn-corpo">Ingresar</a>
                        <!-- <a href="#" class="card-link">Descargar</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/sadmip.png" class="card-img-top mx-auto d-block logo-sistema mt-3"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Sistema Personal</h5>
                        <p class="card-text">Sistema de Recursos Humanos, Emisión de Nominas, Registro Básico de
                            Personal.</p>
                        <a href="http://96.47.237.220:8083" target="_blank" class="card-link btn btn-corpo">Ingresar</a>
                        <!-- <a href="#" class="card-link">Descargar</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/capacitacion.png"
                        class="card-img-top mx-auto d-block logo-sistema mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Adiestramiento y Capacitación Corposervis</h5>
                        <!-- <p class="card-text">Área de capatación y Adiestramiento</p> -->
                        <a href="#" class="card-link btn btn-corpo">Ingresar</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sistema Personal PCMSM</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="http://96.47.237.220:8083" class="card-link">Ingresar</a>
                        <a href="#" class="card-link">Descargar</a>

                    </div>
                </div>
            </div> -->

        </div>
    </div>

</div>

<!-- Ticket Form section -->
<div class="border-top"></div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
                Sección de Tickets
            </h1>
            <p class="col-lg-10 fs-4">
                En esta área reporte las fallas del sistema o requerimientos de soporte.
            </p>
        </div>

        <div class="col-md-10 mx-auto col-lg-5">

            <div class="alert alert-success d-flex align-items-center alert-dismissible" role="alert"
                *ngIf="cardCreatedStatus">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                <div>
                    Ticket creado
                </div>
            </div>
            <!-- Formulario -->
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary mb-4" [formGroup]="combinedForm"
                (ngSubmit)="onSubmit()">
                <!-- Nombre de la tarjeta -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" formControlName="name"
                        placeholder="Escribe el nombre de la tarjeta" autocomplete="off" />
                    <label for="name">Asunto</label>
                </div>


                <!-- Comentario adicional -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="comment" formControlName="comment"
                        placeholder="Escribe un comentario adicional (opcional)"></textarea>
                    <label for="comment">Email</label>
                </div>

                <!-- Descripción de la tarjeta -->
                <div class="form-floating mb-3">
                    <textarea class="form-control textarea-class" id="desc" formControlName="desc"
                        placeholder="Escribe una descripción"></textarea>
                    <label for="desc">Mensaje</label>
                </div>



                <!-- Botón de enviar -->
                <button class="w-100 btn btn-lg btn-corpo" type="submit" [disabled]="combinedForm.invalid">
                    Crear ticket
                </button>

                <hr class="my-4" />
                <div *ngIf="combinedForm.get('name')?.invalid && combinedForm.get('name')?.touched">
                    <small *ngIf="combinedForm.get('name')?.hasError('required')">
                        El asunto es obligatorio.
                    </small>
                    <small *ngIf="combinedForm.get('name')?.hasError('minlength')">
                        El asunto debe tener al menos 5 caracteres.
                    </small>
                </div>


            </form>
        </div>

    </div>
</div>

<!-- Sección de Vista -->
<div class="border-top"></div>

<h1 class="fw-bold lh-1 text-body-emphasis mb-3 text-center mt-5 mb-5">
    Sus tickets
</h1>


<!-- Tabla en donde se muestran tickets -->
<div class="table-responsive container mb-5">
    <table class="table align-middle " id="combinedTable">
        <thead>
            <tr>
                <th scope="col">Ticket tomado el día</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
                <th scope="">
                    <a (click)="refresh()"> <span class="material-icons-outlined icon-boton clic-class">
                            refresh
                        </span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Mensaje si no hay tarjetas en ninguna lista -->
            <tr *ngIf="cards.length === 0 && cardsProcess.length === 0" scope="row">
                <td colspan="5">No hay tarjetas en ninguna lista</td>
            </tr>

            <!-- Tarjetas pendientes -->
            <tr *ngFor="let card of cardsPendiente" scope="row">
                <td>{{ card.dateLastActivity | date:'medium' }}</td>
                <td>{{ card.name || 'Sin nombre' }}</td>
                <td>{{ card.desc || 'Sin descripción' }}</td>
                <td [ngClass]="{
                    'status-pending': card.labels[0]?.name === 'Pendiente'
                }">
                    {{ card.labels[0]?.name || 'Pendiente de estado' }}</td>

            </tr>
            <!-- Tarjetas en proceso -->
            <tr *ngFor="let card of cardsProcess" scope="row">
                <td>{{ card.dateLastActivity | date:'medium' }}</td>
                <td>{{ card.name || 'Sin nombre' }}</td>
                <td>{{ card.desc || 'Sin descripción' }}</td>
                <td [ngClass]="{
        'status-in-progress': card.labels[0]?.name === 'Caso tomado'
    }">
                    {{ card.labels[0]?.name || 'Pendiente de estado' }}
                </td>

            </tr>

            <!-- Tarjetas finalizadas -->
            <tr *ngFor="let card of cards" scope="row">
                <td>{{ card.dateLastActivity | date:'medium' }}</td>
                <td>{{ card.name || 'Sin nombre' }}</td>
                <td class="size-td">{{ card.desc || 'Sin descripción' }}</td>
                <td  [ngClass]="{
        'status-done': card.labels[0]?.name === 'Finalizado'
    }">
                    {{ card.labels[0]?.name || 'Pendiente de estado' }}
                </td>
                

            </tr>
        </tbody>
    </table>
</div>