<app-navbar></app-navbar>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../../assets/proteccion-civil-marino.png" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="300" height="300" loading="lazy">
        </div>

        <!-- Sección Cliente -->
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Protección Civil Mariño</h1>
            <!-- <p class="lead fw-semibold">Entorno de sistemas de Policia Municipio Santigo Mariño</p> -->
        </div>

        <div class="border-top"></div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-1 g-4">
            <div class="col ">
                <div class="card h-100">
                    <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Sistema Administrativo</h5>
                        <p class="card-text">Formulación, Ejecución, Compras y Suministros, Contabilidad Físcal,
                            Tesorería y Bancos, Bienes muebles e inmuebles</p>
                        <a href="http://96.47.237.220:8080" target="_blank" class="card-link btn btn-corpo">Ingresar</a>
                        <!-- <a href="#" class="card-link">Descargar</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/sadmip.png" class="card-img-top mx-auto d-block logo-sistema mt-3"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Sistema Personal</h5>
                        <p class="card-text">Sistema de Recursos Humanos, Emisión de Nominas, Registro Básico de
                            Personal.</p>
                        <a href="http://96.47.237.220:8082" target="_blank" class="card-link btn btn-corpo">Ingresar</a>
                        <!-- <a href="#" class="card-link">Descargar</a> -->
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/capacitacion.png"
                        class="card-img-top mx-auto d-block logo-sistema mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Adiestramiento y Capacitación Corposervis</h5>
                        <!-- <p class="card-text">Área de capatación y Adiestramiento</p> -->
                        <a href="#" class="card-link btn btn-corpo">Ingresar</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col">
                <div class="card h-100">
                    <img src="../../../../assets/sadmim.png" class="card-img-top mx-auto d-block logo-sistema mt-3"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sistema Personal PCMSM</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="http://96.47.237.220:8083" class="card-link">Ingresar</a>
                        <a href="#" class="card-link">Descargar</a>

                    </div>
                </div>
            </div> -->

        </div>

    </div>
</div>